* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

header {
	width: 100%;
	padding: 20px 0;
	text-align: center;
}
header .headline{
	font-size: 32px;
}
.nav-list {
	text-align: center;
	padding: 15px 0;
	margin: 0 auto;
	border-bottom: 1px solid #848282;
	border-top: 1px solid #848282;
}
.nav-list-item {
	list-style: none;
	display: inline-block;
	margin: 0 20px;
}

.main {
	width: 800px;
	margin: 50px auto;

}
.top {
	width: 200px;
	height: 200px;
	float: left;
}
.middle {
	width: 200px;
	height: 200px;
	float: left;
}
.bottom {
	width: 200px;
	height: 200px;
	float: left;
}
.a1 {
	background-color: #e6ffe9;
}
.a2 {
	background-color: #cbffd3;
}
.a3 {
	background-color: #aeffbd;
}
.a4 {
	background-color: #93ffab;
}
.b1 {
	background-color: #f3ffd8;
}
.b2 {
	background-color: #edffbe;
}
.b3 {
	background-color: #e0ffa5;
}
.b4 {
	background-color: #e4ff8d;
}
.c1 {
	background-color: #d9e5ff;
}
.c2 {
	background-color: #bad3ff;
}
.c3 {
	background-color: #a4c6ff;
}
.c4 {
	background-color: #8eb8ff;
}
footer {
	width: 100%;
	height: 120px;
	text-align: center;
	line-height: 120px;
	background-color: #848282;
}

.footer-text {
	color: #fff;
}